process {
    withName: TO_OME_TIFF {
        ext.args = [                                                          // Assign either a string, or closure which returns a string
            '--compression',
	    'blosc'
        ].join(' ')                                                           // Join converts the list here to a string.
        /*ext.prefix = { "${meta.id}" }                                         // A closure can be used to access variables defined in the script*/
    }
}
