cleanup = true

params {
  report_dir = './reports'
}

profiles {

  local {
    includeConfig 'conf/local.config'
    process.executor = 'local'
  }

  lsf {
    includeConfig 'conf/lsf.config'
  }

}

process {
    withLabel: 'default' {
	cpus=30
    	queue="imaging"
    }

    withLabel: 'cellgeni_a100' {
	queue="gpu-cellgeni-a100"
	clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=40000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
	}

    withLabel: 'gpu_normal' {
	queue="gpu-cellgeni"
	clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=30000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
    }

    withLabel: 'imaging' {queue="imaging"}

    withLabel: 'huge_mem' {memory=450.GB}

    withLabel: 'large_mem' {memory=320.GB}

    withLabel: 'medium_mem' {memory=160.GB}

    withLabel: 'small_mem' {memory=30.GB}
}

timeline {
  enabled = false
  file = "${params.report_dir}/timeline.html"
}

trace {
    enabled = false
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}
