cleanup = true

params {
    report_dir = './reports'
    custom_config_version       = 'master'
    custom_config_base          = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

    try {
        includeConfig "${params.custom_config_base}/conf/sanger.config"
    } catch (Exception e) {
        System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/conf/sanger.config")
    }
}

profiles {
  local {
    includeConfig 'conf/local.config'
    process.executor = 'local'
  }

  lsf {
    includeConfig 'conf/lsf.config'
  }
}

process {
    withLabel: 'default' {
	cpus=30
    	queue="imaging"
    }
    withLabel: 'large_mem' {memory=320.GB}

    withLabel: 'medium_mem' {memory=160.GB}

    withLabel: 'small_mem' {memory=30.GB}

    withName: BIOINFOTONGLI_BIOFORMATS2RAW {
	ext.args = [
		'--no-hcs',
		'--tile_height=8192',
		'--tile_width=8192',
        ].join(' ')
    }
}

timeline {
  enabled = false
  file = "${params.report_dir}/timeline.html"
}

trace {
    enabled = false
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}
