params {

  outdir = './output'
  reportdir = './reports'

}


profiles {

  local {
    process.executor = 'local'
  }

  standard {
    includeConfig 'conf/base.config'
  }

  singularity {
    includeConfig 'conf/images.config'
    includeConfig 'conf/lsf.config'
    process.queue = 'imaging'
  }

  tower {
    accessToken = 'eyJ0aWQiOiA2fS5kNWQ4Mjk1YTQ0MzhkMGQzODExNTQ1ZjNiODU2NzZkYWY3ZDE3YjVi'
    endpoint = 'http://nf-tower.cellgeni.sanger.ac.uk/api'
    enabled = false
  }
}


timeline {
  enabled = false
  file = "${params.reportdir}/timeline.html"
}


trace {
    enabled = true
    file = 'pipeline_trace.tsv'
    sep = '\t'
    fields = 'script,env,read_bytes,write_bytes,peak_vmem,peak_rss,vmem,%cpu,%mem,realtime,duration,queue,attempt,memory,disk,cpus,container,module,status,name,hash'
}
