process {
  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']
}

docker.enabled = false

singularity {
  enabled = true
  autoMounts = true
  /*runOptions = "--containall"*/ //bf2raw bugs with this enabled
  cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
}
