process {
  cpus = 25
  memory = 60.GB
  maxForks = 10
  maxRetries = 2
  maxErrors = '-1'
  /*errorStrategy = 'ignore'*/

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements
}

docker {
  enabled = true
}

singularity {
  enabled = false
  autoMounts = true
}
