process {
  maxForks = 10
  maxRetries = 2
  maxErrors = '-1'
  /*errorStrategy = 'ignore'*/

  // Capture exit codes from upstream processes when piping
  shell = ['/bin/bash', '-euo', 'pipefail']

  // Process-specific resource requirements
}

docker {
  enabled = false
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "--containall"
  cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
}
