singularity {
  enabled = true
  autoMounts = true
  /*cacheDir = '/nfs/cellgeni/imaging/singularity/cache'*/
}

executor {
    name = 'lsf'
    queueSize = 15
    // https://www.nextflow.io/docs/latest/executor.html#lsf
    perJobMemLimit = true
}

process {
  cpus = 50
  memory = 120.GB
  queue = 'imaging'
  /*clusterOptions = "-m farm5-gpu0106"*/
}
