singularity {
 	enabled = true
	autoMounts = true
	runOption = "--containall"
	/*cacheDir = '/nfs/cellgeni/imaging/singularity/cache'*/
}

docker.enabled = false

// Executor details
executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

process {
    withLabel: 'cellgeni_a100' {
	queue="gpu-cellgeni-a100"
	clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=40000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
	}

    withLabel: 'gpu_normal' {
	queue="gpu-cellgeni"
	clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=30000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
    }
}
