singularity {
 	enabled = true
	autoMounts = true
	runOption = "--containall"
	cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
}

docker.enabled = false

// Executor details
executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

process {
    executor = 'lsf'
    queue = 'imaging'
    withLabel: 'cellgeni_a100' {
	queue="gpu-cellgeni-a100"
	clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=40000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
	}

    withLabel: 'gpu_normal' {
	queue="gpu-cellgeni"
	clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=30000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
    }
}

process {
    withName : 'Feature_based_registration' {
	cpus = { check_max( 12 * task.attempt, 'cpus' ) }
	memory = { check_max( 84.GB * task.attempt, 'memory' ) }
    }

    withName : 'Feature_based_registration' {
	cpus = { check_max( 12 * task.attempt, 'cpus' ) }
	memory = { check_max( 84.GB * task.attempt, 'memory' ) }
    }
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
